<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <Console target="SYSTEM_OUT" name="Console">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="SearchFile" fileName="logs/search.log">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <MarkerFilter marker="ACTUAL_STATIONS"/>
            </Filters>
        </File>
        <File name="Input_errors" fileName="logs/input_errors.log">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <MarkerFilter marker="INVALID_STATIONS"/>
            </Filters>
        </File>
        <File name="Exceptions" fileName="logs/exceptions.log">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <MarkerFilter marker="STATIONS_EXCEPTIONS"/>
            </Filters>
        </File>
    </appenders>
    <loggers>
        <root level="ALL">
            <appender-ref level="INFO" ref="SearchFile"/>
            <appender-ref level="INFO" ref="Input_errors"/>
            <appender-ref level="ERROR" ref="Exceptions"/>
        </root>
    </loggers>
</configuration>